





h1 {
    @apply font-bold text-36
    line-height: 110%;
}
h2 {
    @apply font-bold text-26
    line-height: 110%;
}
h3 {
    @apply font-bold text-22
line-height: 120%;
letter-spacing: -0.02em;
}
.subtitle {
    @apply font-bold text-20
line-height: 30px;
letter-spacing: -0.02em;
}
.body-big-1 {
    @apply font-normal text-20
line-height: 30px;
letter-spacing: -0.02em;
}
.body-big-2 {
    @apply font-bold text-18
line-height: 30px;
letter-spacing: -0.02em;
}
.body-bold {
    @apply font-bold text-base
line-height: 23px;
letter-spacing: -0.01em;
}
.body-regular {
    @apply font-normal text-base
line-height: 23px;
letter-spacing: -0.01em;
}
.body-small-regular {
    @apply font-bold text-14
    line-height: 20px;
    letter-spacing: -0.01em;
}
.subtitle-small {
    @apply font-bold text-14
font-family: Open Sans;
line-height: 22px;
letter-spacing: -0.01em;
}
.caption-small {
    @apply font-bold text-12
line-height: 16px;
letter-spacing: -0.01em;
}
.caption {
    @apply font-normal text-14
    line-height: 16px;
    letter-spacing: 0.02em;
.overline {
    @apply font-bold text-10
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.shadows-on-card {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.2);
border-radius: 5px;
}
.btn-upload {

}



@screen tablet-max {
    h2 {
        @apply text-22
    }
    .subtitle {
        @apply text-18
    }
    .body-big-1 {
        @apply text-18
    }
}
@screen mobile-max {
    .subtitle {
line-height: 130%;
    }
    .body-bold {
line-height: 130%;
    }
    .body-regular {
line-height: 130%;
    }
}