.modal {
    $root: &;
    &_remove {
        .baseField {
            width: 80%;
            &__label {
                display: block;
                margin-bottom: 16px;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: -0.01em;
                color: #4D4D4D;
            }
        }
        #{$root}__title {
            margin: 0 0 5px;
            color: #D73E29;
        }
    }
    &_removed {
        #{$root}__title {
            margin-bottom: 5px;
            text-align: center;
        }
        #{$root}__subjectTitle,
        #{$root}__subjectSubtitle {
            text-align: center;
            text-decoration: line-through;
            color: #808080;
        }
        #{$root}__description {
            margin-bottom: 40px;
            text-align: center;
        }
    }
    &_success {
        #{$root}__title {
            margin-bottom: 55px;
            text-align: center;
        }
        #{$root}__description {
            margin: 40px 0;
            text-align: center;
            font-weight: bold;
        }
    }
    &_error {
        #{$root}__title,
        #{$root}__link {
            text-align: center;
        }
        #{$root}__link {
            margin-bottom: 42px;
        }
    }
    &_send,
    &_change {
        .baseField {
            width: 80%;
            &__label {
                display: block;
                margin-bottom: 16px;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: -0.01em;
                color: #4D4D4D;
            }
        }
        #{$root}__title {
            margin-bottom: 5px;
        }
        #{$root}__submit {
            margin: 40px 0 0
        }
    }
    &_change {
        #{$root}__title {
            margin-bottom: 40px;
        }
    }
    &_password {
        .baseField {
            margin-bottom: 20px;
            &__label {
                margin-bottom: 2px;
                font-size: 14px;
                letter-spacing: -0.02em;
            }
        }
        #{$root}__link {
            margin-bottom: 16px;
        }
        #{$root}__submit {
            margin-top: 30px;
        }
    }
    &__title {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 36px;
        letter-spacing: -0.03em;
    }
    &__subjectTitle {
        font-size: 22px;
        font-weight: bold;
        letter-spacing: -0.02em;
        color: #333333;
    }
    &__subjectSubtitle {
        font-size: 18px;
        letter-spacing: -0.02em;
        color: #828282;
    }
    &__description {
        margin-top: 24px;
        margin-bottom: 24px;
        letter-spacing: -0.01em;
        color: #333;
    }
    &__link {
        text-decoration-line: underline;
        line-height: 23px;
        letter-spacing: -0.01em;
        color: #088DED;
    }
    &__buttons {
        display: flex;
        margin-top: 40px;
        #{$root}__submit {
            margin: 0;
        }
    }
    &__remove {
        margin-right: 24px;
        color: #fff;
        background: #D73E29;
    }
    &__submit {
        margin: 0 auto;
        border: 1px solid #333333;
    }
}

@media (max-width: 767px) {
    .modal {
        $root: &;
        &_remove {
            .baseField {
                width: 100%;
                &__label {
                    display: none;
                }
            }
            #{$root}__title {
                text-align: center;
                margin-bottom: 5px;
            }
        }
        &_send,
        &_change {
            .baseField {
                width: 100%;
                &__label {
                    font-size: 14px;
                }
            }
            #{$root}__title {
                text-align: center;
            }
        }
        &__title {
            margin-bottom: 15px;
            font-size: 26px;
        }
        &__subjectTitle,
        &__subjectSubtitle,
        &__description {
            text-align: center;
        }
        &__subjectSubtitle {
            font-size: 16px;
        }
        &__buttons {
            flex-direction: column;
            margin-top: 24px;
        }
        &__remove,
        &__submit {
            width: 100% !important;
            height: 40px !important;
            font-size: 14px;
        }
        &__remove {
            margin-bottom: 10px;
            margin-right: 0;
        }
    }
}
