.osagoForm {
    position: relative;
    padding: 48px 37px 62px;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.2);
    &__ancor {
        position: absolute;
        top: -10px;
    }
    &__title {
        margin-bottom: 20px;
        span {
            display: none;
            color: #038661;
        }
    }
    &__block {
        border: 1px solid #E0E0E0;
        border-radius: 10px;
    }
    &__head {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        border-bottom: 1px solid #E0E0E0;
    }
    &__headTitle {
        margin-right: 66px;
        font-size: 18px;
    }
    &__headCopy {
        font-weight: bold;
        color: #088DED;
        cursor: pointer;
    }
    &__headRemove {
        display: flex;
        align-items: center;
        font-weight: bold;
        color: #D34444;
        cursor: pointer;
        img {
            margin-right: 9px;
        }
    }
    &__body {
        padding: 40px 28px 50px;
    }
    &__wrapper {
        display: flex;
    }
    &__left,
    &__right {
        width: 50%;
    }
    &__left {
        padding-right: 31px;
        border-right: 1px solid #E0E0E0;
    }
    &__right {
        padding-left: 31px;
        border-left: 1px solid #E0E0E0;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 16px;
    }
    &__sectionTitle {
        margin-bottom: 20px;
        font-size: 16px;
    }
    &__billet {
        position: relative;
        margin-bottom: 16px;
        padding: 16px 23px;
        font-weight: bold;
        letter-spacing: -0.01em;
        background-color: rgba(3, 134, 97, 0.05);
    }
    &__billetFill {
        color: #088DED;
        cursor: pointer;
    }
    &__billetClose {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    &__button {
        color: #088DED;
        border: 1px solid #E0E0E0;
        border-radius: 10px;
    }
}
@media (max-width: 1279px) {
    .osagoForm {
        width: calc(100% - 32px);
        padding: 36px 24px 50px;
        &__left {
            padding-right: 21px;
        }
        &__right {
            padding-left: 21px;
        }
    }
}
@media (max-width: 1023px) {
    .osagoForm {
        padding: 48px 37px 36px;
        &__wrapper {
            flex-direction: column;
        }
        &__left,
        &__right {
            width: 100%;
            padding: 0;
            border: 0;
        }
        &__left {
            margin-bottom: 16px;
        }
    }
}
@media (max-width: 767px) {
    .osagoForm {
        width: 100%;
        padding: 33px 16px;
        &__ancor {
            top: -100px;
        }
        &__title {
            span {
                display: inline;
            }
        }
        &__block {
            background-color: #F6F6F6;
            border: 0;
        }
        &__head {
            padding-bottom: 0;
            border: 0;
        }
        &__headCopy,
        &__headRemove {
            display: none;
        }
        &__body {
            padding: 16px;
        }
        &__left {
            border-bottom: 1px solid #E0E0E0;
        }
        &__sectionTitle:not(&__sectionTitle_photos) {
            display: none;
        }
        &__button {
            background-color: #F6F6F6;
            border: 0;
        }
    }
}
